.layout {
  display: flex;
  height: 100vh; 
}

.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 2;
}

.sidebar {
  width: 0;
  height: 100%;
  background-color: #333;
  overflow-x: hidden;
  position: fixed;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
}

.sidebar.open {
  width: 250px;
}

.sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 8px 8px 8px 32px;
  text-align: left;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar nav ul li a:hover {
  color: #f1f1f1;
}

.main-content {
  flex: 1;
  overflow: auto;
  padding: 20px;
}

.content3 {
  margin-top: 20px;
  text-align: center;
}

.aplist {
  font-weight: bold;
}

.black-font {
  color: black;
  text-align: left;
}

.card-hover {
  cursor: pointer;
}

.profile-box1 {
  background-color: #4c4e4e;
  /* background-color: #c2d6d5; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; 
  max-width: 400px;
  margin: 0 auto; 
}

.open-btn {
  font-size: 24px; 
  cursor: pointer;
  background: none;
  border: none;
  margin: 10px;
  color: black; 
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .toggle-btn {
    display: block;
  }

  .sidebar {
    width: 0;
    position: fixed;
    z-index: 2;
  }

  .main-content {
    padding-left: 0;
    padding-top: 80px; 
  }

  .sidebar.open {
    width: 250px;
  }

  .sidebar nav ul {
    text-align: center;
  }

  .sidebar nav ul li {
    padding: 8px 8px;
  }

  .sidebar nav ul li a {
    font-size: 18px;
    color: white;
  }

  .sidebar nav ul li a:hover {
    background-color: #555;
    color: white;
  }

  .profile-box1 {
    max-width: 90%; 
    margin: 10px; 
  }

  .open-btn {
    font-size: 28px; 
    margin: 5px; 
  }
}

.irregular-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8a9ead 0%, #ffffff 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
  z-index: -1; /* Make sure it is behind other content */
}