.update-page {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.animation-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.form-inner {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1.form-header {
    margin-bottom: 20px;
    color: black;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 40px; 
    box-sizing: border-box; 
}

button[type="submit"] {
    width: 100px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}